



.header-menu {
    width: 100%;
    height: 400px;
    background: url(./../img/header-rest-nav-1.jpg) center;
    
}

.wrap-title {
    width: 100%;
    /*width: 600px;*/
    margin-left: 10px;
    color: #fff;

}

.header-menu-title {
    padding: 40px 0 10px;
}

.header-menu-subtitle {
    padding-right: 10px;
}

/*блок с карточками ресторана*/

.content-card {
    margin-top: 30px;
    
    
    
}

.card {
    margin: 15px 0;
}

.card-img-top {
    
}

.phone {
    display: flex;
    justify-content: space-between;
}

.phone a {

    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.card-stars img{
    
   color: aqua;
}

